<wolfram:get path='template/main.html'>
  <wolfram:slot id="content">
  	<div class="row">
  		<div class="col-md-1"></div>
  		<div class="col-md-10">
  			<div class="row">
  				<div class="col-md-12">
  					<h1>Choose a topic</h1>
  					<hr />
  				</div>
  				<div class="col-md-12">
				    <wolfram:sequence values="#categories">
				              <div class="col-sm-3 category">
				                <p><a href="`AppRoot`category/<* First[#] *>/"><* Last[#] *><a></p>
				              </div>
					</wolfram:sequence>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
  </wolfram:slot>
</wolfram:get>