<wolfram:get path='template/main.html'>
  <wolfram:slot id="content">
  	<div class="row">
  		<div class="col-md-10 col-md-offset-1">
        <h1 class="page-header">Choose a topic</h1>
  			<div class="row">	
				  <wolfram:sequence values="#categories">
				              <div class="col-sm-3">
				                <a class=category href="`AppRoot`category/<* First[#] *>/"><* Last[#] *></a>
				              </div>
					</wolfram:sequence>
				</div>
			</div>
		</div>
  </wolfram:slot>
</wolfram:get>