<wolfram:get path='template/main.html'>
  <wolfram:slot id="content">
    <div class="row">
        <div class="col-md-2">`topic`</div>
        <div class="col-md-8"></div>
        <div class="col-md-2">
                <p class="username">`userInfo`</p>
                <p >Score: <span class="point">`point` pt</span></p>
        </div>      
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <p class="left">
                        <span class="wolframInputSide">In[1]:=</span> <span class="question">`question`</span>
                    </p>
                </div>
                <div class="col-md-12 spacetop">
                    <p class="left">
                        <span class="wolframInputSide">Out[1]=</span> <span  class="question">`example`</span>
                    </p>
                </div>
                <div class="col-md-12 spacetop">
                    <p>Tips: `tips`</p>
                </div>
                <div class="col-md-12 spacetop">
                    <form action="/guess/" method="post" >
                        <div class="form-group">
                          <label for="pwd">Solution:</label>
                          <input type="text" class="form-control" id="Solution" name="Solution" />
                          <input type="hidden" id="exerciseInfo" name="exerciseInfo" value="`exerciseInfo`" />
                          <input type="hidden" id="category" name="category" value="`category`" />
                          <input class="btn btn-lg btn-success pull-right spaced"type="submit" value="Submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="white" style="color:white">
                `tooltip`
            </p>
        </div>
    </div>
  </wolfram:slot>
</wolfram:get>