<wolfram:get path='template/main.html'>
  <wolfram:slot id="content">
    <div class="row">
        <div class="col-md-2">`topic`</div>
        <div class="col-md-8"></div>
        <div class="col-md-2">
                <p class="username">`userInfo`</p>
                <p class="point">`point` pt</p>
        </div>      
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <p class="left">
                        <span class="wolframInputSide">In[1]:=</span> <span class="question">`question`</span>
                    </p>
                </div>
                <div class="col-md-12 spacetop">
                    <p class="left">
                        <span class="wolframInputSide">Out[1]=</span> <span  class="question">`example`</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="centered">
                <wolfra:slot id="userInputForm">
                    <input type="text" />
                </wolfra:slot>
            </p>
        </div>
    </div>
  </wolfram:slot>
</wolfram:get>